<nav class="navbar navbar-expand-lg " style="background-image: url('https://lp-auto-assets.s3.us-east-1.amazonaws.com/21/alfa-romeo/tonale/footer.jpg');">
  <div class="collapse navbar-collapse" id="navbarColor03">
    
    <div class="dropdown">
     <select (change)="selectChangeHandlerMaker($event)">
       
        <option [value]="null" [disabled]="true" >Make</option>
      <ng-container *ngFor="let car of uniqueMaker">
       <option  value = {{car}}>
        {{car}}
       </option>
      </ng-container>
     </select>
    </div>
    <div class="dropdown">
        <select (change)="selectChangeHandlerModel($event)">
           <option [value]="null" [disabled]="true" >Model</option>
         <ng-container *ngFor="let car of uniqueModel">
          <option   value =  {{car}} >
           {{car}}
          </option>
         </ng-container>
        </select>
       </div>
       <div class="dropdown">
        <select (change)="selectChangeHandlerHand($event)">
          
           <option [value]="null" [disabled]="true" >Hand</option>
         <ng-container *ngFor="let car of uniqueHand">
          <option   value =  {{car}} >
           {{car}}
          </option>
         </ng-container>
        </select>
       </div>
       <div class="dropdown">
        <select (change)="selectChangeHandlerYear($event)">
          
           <option [value]="null" [disabled]="true" >Year</option>
         <ng-container *ngFor="let car of uniqueYear">
          <option   value =  {{car}} >
           {{car}}
          </option>
         </ng-container>
        </select>
       </div>
       <div class="dropdown">
        <select (change)="selectChangeHandlerMonth($event)">
          
           <option [value]="null" [disabled]="true" >Month</option>
         <ng-container *ngFor="let car of uniqueMonth">
          <option   value =  {{car}} >
           {{car}}
          </option>
         </ng-container>
        </select>
       </div>
       <nav class="navbar navbar-custom">
     <form  #addForm="ngForm" >
     
            <input type="text"  ngModel name="distance"   placeholder="Distance" required>
            <p class="navbar-brand" style="color:rgb(107, 103, 103);"></p>
            <input  type="text"   ngModel name="price"  placeholder="Price" required>
             <p class="navbar-brand" style="color:rgb(107, 103, 103);"></p> 
            <button id="search" [disabled]="addForm.invalid" (click) ="onAddKm(addForm)"   type="click"  class="btn btn-primary"  >Search</button>
            <p class="navbar-brand" style="color:rgb(107, 103, 103);"></p> 
    </form>
  </nav>
 
  

     
  </div>
</nav>
<div class="container" id="main-container">
  <router-outlet></router-outlet>    
</div>


  